:root {
  --color-2 : #346751;
  --color-4 : #ecdbba;

}

.bg-color-2 {
  background-color: var(--color-2);
}

.bg-color-4 {
  background-color: var(--color-4);
}

.text-color-2 {
  color: var(--color-2);
}

.text-color-4 {
  color: var(--color-4);
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  padding: 1.2%;
}

iframe{
  width: 100%;
  margin: 0;
}